# Ignore environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VS Code settings (optional)
.vscode/

# PyCharm settings (optional)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db